<!--
    File: footer.ejs
    Author: Mykyta Naumenko
    Website: www.mykytanaumenko.me
    Description: A partial file to render a page footer on all pages of the website.
-->
</main>
<footer>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">COMP2068 - Assignment 1 - 200348171</div>
            <ul class="mdl-mini-footer__link-list">
                <li>
                    Powered by Node.JS
                </li>
                <li>
                    CSS Framework -
                    <a href="https://getmdl.io">getmdl.io</a>
                </li>
            </ul>
        </div>
    </footer>
</footer>
<!-- Material Design JS -->
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>