</main>
<footer>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">COMP2068 - Assignment 1 - 200348171</div>
            <ul class="mdl-mini-footer__link-list">
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a href="#top">Scroll up</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- COMP2068 - Assignment 1 - 200348171 -->
</footer>
<!-- Material Design JS -->
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>