<!--
    File: header.ejs
    Author: Mykyta Naumenko
    Website: www.mykytanaumenko.me
    Description: A partial file to render the header with both desktop and mobile navbars.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <!-- Material Design CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <title>
        <%=title %>
    </title>
</head>

<body>

    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <!-- Desktop header -->
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Brand -->
                <a href="/" class="homelink">
                    <span class="mdl-layout-title">Mykyta Naumenko</span>
                </a>
                <div class="mdl-layout-spacer"></div>
                <!-- Nav -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/about">About Me</a>
                    <a class="mdl-navigation__link" href="/projects">My Projects</a>
                    <a class="mdl-navigation__link" href="/services">Services</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Me</a>
                </nav>
            </div>
        </header>
        <!-- Mobile menu -->
        <div class="mdl-layout__drawer">
            <!-- Brand -->
            <span class="mdl-layout-title">
                <a href="/">Mykyta Naumenko</a>
            </span>
            <!-- Nav -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/about">About Me</a>
                <a class="mdl-navigation__link" href="/projects">My Projects</a>
                <a class="mdl-navigation__link" href="/services">Services</a>
                <a class="mdl-navigation__link" href="/contact">Contact Me</a>
            </nav>
        </div>

    </div>
    <main class="mdl-layout__content">