<!--
    File: about.ejs
    Author: Mykyta Naumenko
    Website: www.mykytanaumenko.me/about
    Description: Contents of About me page.
-->
<% include partials/header %>
    <h1>
        <%= title %>
    </h1>

    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col article">
                <h3>Who I am</h3>
                <p>
                    My name is Mykyta and I am a Computer Programming student at Georgian College in Barrie, Ontario, Canada So far I have been
                    studying and practicing web (as well as non web) development for just under two years. So far I know
                    my way around HTML, PHP, ASP.NET, Node.JS, MySQL, SQL Server as well as Java C#. I may not have done
                    much at this point, but I am really looking forward to learning and trying new things!
                </p>
            </div>
        </div>
    </main>
    <% include partials/footer %>