<!--
    File: contact.ejs
    Author: Mykyta Naumenko
    Website: www.mykytanaumenko.me/contact
    Description: Contact form.
-->
<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        Have something to say? Don't be shy and say 'Hello!' (Be nice c:)
        <div class="form">
            <form method="POST" action="/contact">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="name" name="name">
                    <label class="mdl-textfield__label" for="name">Your name</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="email" name="email">
                    <label class="mdl-textfield__label" for="email">Your email</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="message" name="message">
                    <label class="mdl-textfield__label" for="message">Your message</label>
                </div>
                <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
            </form>
        </div>
    </p>

    <% include partials/footer %>