<!--
    File: services.ejs
    Author: Mykyta Naumenko
    Website: www.mykytanaumenko.me
    Description: A page for services.
-->
<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        These are the things I can do for you
    </p>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <th class="mdl-data-table__cell--non-numeric">Skills I have:</th>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Node.JS web development</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Java app development</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Application design</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Network maitenance</td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">And I am thriving to learn more in the future!</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <% include partials/footer %>