body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}
main.mdl-layout__content {
  padding: 50px;
}

a.homelink {
  color: white;
  /* text-decoration-style: none !important; */
  text-decoration-line: none;
}

form {
  padding: 25px;
  background-color: white;
  color: black;
}

table {
  color: black;
}
